<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-primary">Visualizar Produtos</h3>
            <hr>
        </div>
    </div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir este item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                </div>
            </div>
        </div>
    </div>

    <div id="main" class="container-fluid"  ng-repeat="produto in produtos">
        <h3 class="page-header">Visualizar Produto</h3>

        <div class="row">
            <div class="col-md-4">
                <p><strong>Nome do Produto:</strong></p>
                <p>{{produto.nome}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Marca:</strong></p>
                <p>{{produto.marca}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Coleção:</strong></p>
                <p>{{produto.colecao}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p><strong>Modelo:</strong></p>
                <p>{{produto.modelo}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Código do Produto:</strong></p>
                <p>{{produto.codigo}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Valor:</strong>
                {{produto.valor}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <!-- <p><strong>Quantidade</strong></p>
                <p>{{produto.quantidade}}</p>-->
                <p><strong>Quantidade:</strong> {{produto.quantidade}} 
                <span ng-if="!produto.quantidade" class="text-danger">(Esgotado)</span></p>
            </div>
            <div class="col-md-4">
                <p><strong>Cor:</strong></p>
                <p>{{produto.cor}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Tamanho:</strong></p>
                <p>{{produto.tamanho}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Imagem:</strong></p>
                <p>{{produto.imagem}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Descrição:</strong></p>
                <p>{{produto.descricao}}</p>
            </div>
        </div>

        <hr />
        <div id="actions" class="row">
            <div class="col-md-12">
                <a ui-sref="editar" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                <a ui-sref="index.html" class="btn btn-default">Fechar</a>
            </div>
        </div>
    </div>