<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-primary">Editar Produtos</h3>
            <hr>
        </div>
    </div>
</div>
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" ng-controller="EditarController">
                <div class="input-group h2">
                    <input name="data[search]" class="form-control" type="search" ng-model="search" placeholder="Pesquisar Itens">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-submit="buscarProduto()">
                            Pesquisar <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <form class="container" ng-submit="salvar()">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="nome">Nome do produto:</label>
                    <input type="text" class="form-control" name="nome" placeholder="Digite o valor" required="required" ng-model="produto.nome">{{produto.nome}}
                </div>
                <div class="form-group col-md-4">
                    <label for="marca">Marca:</label>
                    <input type="text" class="form-control" name="marca" placeholder="Digite o valor" required="required" ng-model="produto.marca">
                </div>
                <div class="form-group col-md-4">
                    <label for="colecao">Coleção:</label>
                    <input type="text" class="form-control" name="colecao" placeholder="Digite o valor" required="required" ng-model="produto.colecao">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="modelo">Modelo:</label>
                    <input type="text" class="form-control" name="modelo" placeholder="Digite o valor" required="required" ng-model="produto.modelo">
                </div>
                <div class="form-group col-md-3">
                    <label for="codigo">Código do produto:</label>
                    <input type="text" class="form-control" name="codigo" placeholder="Digite o valor" required="required" ng-model="produto.codigo">
                </div>
                <div class="form-group col-md-3">
                    <label for="valor">Valor:</label>
                    <input type="text" class="form-control" name="valor" placeholder="Digite o valor" required="required" ng-model="produto.valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="quantidade">Quantidade:</label>
                    <input type="text" class="form-control" name="quantidade" placeholder="Digite o valor" required="required" ng-model="produto.quantidade">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="cor">Cor:</label>
                    <input type="text" class="form-control" name="cor" placeholder="Digite o valor" required="required" ng-model="produto.cor">
                </div>
                <div class="form-group col-md-3">
                    <label for="tamanho">Tamanho:</label>
                    <input type="text" class="form-control" name="tamanho" placeholder="Digite o valor" required="required" ng-model="produto.tamanho">
                </div>
                <div class="form-group col-md-4">
                    <label for="imagem">Imagem:</label>
                    <input type="text" name="imagem" class="form-control" ng-model="produto.imagem">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="descricao">Descrição:</label>
                    <textarea name="descricao" cols="15" rows="5" class="form-control" ng-model="produto.descricao"></textarea>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                    <a ui-sref="index" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>