<div class="barra_de_acao" layout="row">
    <span flex></span>
    <div flex="85">
        <a ui-sref="home.usuarios_listar" class="iconVoltar">
            <md-button class="md-icon-button">
                <ng-md-icon icon="keyboard_backspace"></ng-md-icon>
            </md-button>
        </a>
        <h2 class="h2Title">
            {{ title }}
        </h2>
    </div>
    <div flex="15">
        <a ui-sref="home.usuarios_listar" title="Cancelar">
            <button class="btn-bios">
                <ng-md-icon icon="cancel" style="fill: #CA5A5A;" size="30"></ng-md-icon>
            </button>
        </a>
        <a>
            <button class="btn-bios" ng-click="salvarUsuario()"
                    ng-disabled="!usuario.nome || !usuario.login || !usuario.password" title="Salvar">
                <ng-md-icon icon="save" class="btn_salvar" size="28"></ng-md-icon>
            </button>
        </a>
    </div>
</div>

<div layout="column" layout-margin class="paddingArea">
    <md-card flex>
        <md-card-content layout="row" layout-fill>
            <md-input-container flex>
                <label>Nome</label>
                <input ng-model="usuario.nome" autocomplete="off" maxlength=30 required>
            </md-input-container>
            <md-input-container flex>
                <label>Admin?</label>
                <md-select ng-model="usuario.admin" placeholder="Admin?">
                    <md-option ng-value="true">Sim</md-option>
                    <md-option ng-value="false">Não</md-option>
                </md-select>
            </md-input-container>
        </md-card-content>
        <md-card-content layout="row" layout-fill>
            <md-input-container flex>
                <label for="cadastro_login">Login</label>
                <input type="text" ng-model="usuario.login" name="cadastro_login" id="cadastro_login" autocomplete="off"
                       maxlength="30" ng-disabled="desabilitar_campo_login" required>
            </md-input-container>
            <md-input-container flex>
                <label for="cadastro_senha">Senha</label>
                <input type="password" name="cadastro_senha" id="cadastro_senha" ng-model="usuario.password"
                       autocomplete="off" maxlength="30" required>
            </md-input-container>
        </md-card-content>
    </md-card>
</div>

