<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-primary">Cadastro de Produtos</h3>
            <hr>
        </div>
    </div>
    <!-- Inicio do formuario de cadastro do produto -->
    <form action="" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" name="nome" required="required">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nome">Marca:</label>
                            <input type="text" class="form-control" name="marca" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nome">Coleção:</label>
                            <input type="text" class="form-control" name="colecao" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nome">Modelo:</label>
                            <input type="text" class="form-control" name="modelo" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nome">Código:</label>
                            <input type="text" class="form-control" name="codigo" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="valor">Valor:</label>
                            <input type="text" class="form-control" name="valor">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="quantidade">Quantidade:</label>
                            <input type="text" class="form-control" name="quantidade">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="quantidade">Cor/Tamanho:</label>
                            <input type="text" class="form-control" name="quantidade">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea name="descricao" cols="15" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="imagem">Imagem:</label>
                            <input type="text" name="imagem" class="form-control">
                            <button type="submit" class="btn btn primary">Anexar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary">
                                Cadastrar
                            </button>
                            <button type="button" class="btn btn primary">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
    </form>
    </div>
    </body>

    </html>