    <!-- div.row>div.col-md-12 -->
    <hr>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <!-- table.table.table-bordered -->
            <table class="table table-bordered">
                <!-- thead>tr>th*4 -->
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Coleção</th>
                        <th>Modelo</th>
                        <th>Código</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Cor/Tamanho</th>
                        <th>Descrição</th>
                        <th>Imagem</th>
                        <th>Opção</th>
                    </tr>
                </thead>
                <!-- tbody>tr>td*4 -->
                <tbody>
                    <tr>
                        <td>Sapato 1</td>
                        <td>Nike</td>
                        <td>Diversos</td>
                        <td>Outros</td>
                        <td>123456789</td>
                        <td>R$ 300,00</td>
                        <td>50 unidades</td>
                        <td>Preto/37</td>
                        <th>hahahaha</th>
                        <td>
                            <img src="" alt="">
                        </td>
                        <td>
                            <button class="btn btn-primary">Editar</button>
                            <button class="btn btn-info">Selecionar</button>
                            <button class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>